<div class="social">
  <ul class="social-links">
    {{ if .Site.Params.Social.Github }}
      <li><a href="https://github.com/{{ .Site.Params.Social.Github }}"><i class="fa fa-github"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Email }}
      <li><a href="mailto:{{ .Site.Params.Social.Email }}"><i class="fa fa-envelope"style="color:#E8DF7B"></i></a></li>
    {{ end }}
    
    {{ if .Site.Params.Social.Instagram }}
    <li><a href="https://www.instagram.com/{{ .Site.Params.Social.Instagram }}"><i
    class="fa fa-instagram"style="color:#FFD8A6"></i></a></li>
    {{ end }}
    
    {{ if .Site.Params.Social.Facebook }}
    <li><a href="https://www.facebook.com/{{ .Site.Params.Social.Facebook }}"><i
    class="fa fa-facebook"style="color:#79B4D9"></i></a></li>
    {{ end }}
  </ul>
</div>
